body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: Arial;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #2a001f, #000);
  transition: 0.5s;
}

.container {
  text-align: center;
  z-index: 2;
  max-width: 600px;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 18px;
  white-space: pre-line;
  opacity: 0.9;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #ff2e7a;
  color: white;
  border-radius: 8px;
}
